@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");
/* 

    CRIAÇÃO DE MIXIN PARA TORNAR O CÓDIGO MAIS LIMPO

    FLEX: flex-(justify-content)-(align-items)

*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: black;
  font-family: 'Poppins', sans-serif;
}

.strong {
  font-weight: bold;
}

nav#nav {
  height: 6rem;
  z-index: 999;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 100%;
  margin: 0;
}

nav#nav div#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

nav#nav div.logo {
  margin-right: 20px;
}

nav#nav div.logo img {
  margin: auto;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

nav#nav div.leftSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav#nav div.leftSide ul.menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  font-size: 14px;
}

nav#nav div.leftSide ul.menu-items a {
  color: black;
  text-decoration: none;
}

nav#nav div.leftSide ul.menu-items li {
  margin: 10px;
}

nav#nav div.leftSide ul.menu-items li:hover {
  border-bottom: 1px solid black;
  height: 100%;
}

nav#nav div.leftSide ul.menu-items div.divider {
  height: 1px;
  width: 100%;
  background-color: gray;
}

nav#nav div.rightSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav#nav div.rightSide ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12.5px;
}

nav#nav div.rightSide ul li {
  list-style: none;
  margin: 5px;
  padding: 7px 10px 7px 10px;
  background-color: rgba(247, 247, 247, 0.3);
  border-radius: 20px;
}

nav#nav div.rightSide ul li:hover {
  cursor: pointer;
}

li.dropdown {
  position: relative;
}

li.dropdown div.dropdown-menu {
  padding: 35px 30px;
  display: none;
  position: absolute;
  top: 15px;
  left: -35px;
  cursor: default;
}

li.dropdown div.dropdown-menu ul#cover {
  background: white;
  padding: 5px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.1);
}

li.dropdown div.dropdown-menu ul#cover li.no-underline {
  list-style-type: none;
  width: 276px;
}

li.dropdown div.dropdown-menu ul#cover li.no-underline:hover {
  border-bottom: none;
}

li.dropdown div.dropdown-menu ul#cover li.no-underline ul {
  display: block;
}

li.dropdown div.dropdown-menu ul#cover li.no-underline ul li {
  list-style: none;
  cursor: pointer;
  font-size: 13px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

li.dropdown div.dropdown-menu ul#cover li.no-underline ul li:hover {
  border-bottom: none;
  text-decoration: underline;
}

li.dropdown div.dropdown-menu ul#cover li.no-underline span {
  font-weight: 600;
}

li.dropdown:hover div.dropdown-menu {
  display: block;
}

li.dropdown:hover i {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

div.banner {
  height: 100vh;
  width: 100%;
  -webkit-transform: translateY(-6rem);
          transform: translateY(-6rem);
  z-index: 1;
  position: relative;
  background-repeat: no-repeat;
  width: 100%;
}

div.banner div.search-wrapper {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  position: relative;
  top: -12rem;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.banner div.search-wrapper div.procurar-casa {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
}

div.banner div.search-wrapper div.procurar-casa div.tipo-compra {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

div.banner div.search-wrapper div.procurar-casa div.tipo-compra ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.banner div.search-wrapper div.procurar-casa div.tipo-compra ul li {
  list-style-type: none;
  margin: 0px 5px;
  padding: 8px 15px;
  background-color: rgba(44, 50, 60, 0.4);
  border-radius: 22px;
  border: 2px solid white;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

div.banner div.search-wrapper div.procurar-casa div.tipo-compra ul li.active-compra {
  background-color: white;
  color: #2c323c;
}

div.banner div.search-wrapper div.procurar-casa div.caixa-procura {
  margin-top: 20px;
}

div.banner div.search-wrapper div.procurar-casa div.caixa-procura div.sup {
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.banner div.search-wrapper div.procurar-casa div.caixa-procura div.sup div.tipo-alojamento {
  height: 100%;
  background-color: #fafafa;
  width: 30%;
}

div.banner div.search-wrapper div.procurar-casa div.caixa-procura div.sup div.localidade {
  width: 45%;
  height: 100%;
  background-color: #fafafa;
}

div.banner div.search-wrapper div.procurar-casa div.caixa-procura div.sup button {
  width: 25%;
  height: 100%;
  background-color: #c8102e;
  font-weight: bold;
  color: white;
  border: none;
  font-size: 17px;
}

div.banner img {
  width: 100%;
  z-index: 0;
}

div.banner .mobile-banner {
  display: none;
}

.background-white {
  background: white;
}

.background-transparente {
  background: transparent;
}

.hide-nav {
  visibility: hidden;
}

.site-width {
  width: 1124px;
}

.msg-anim {
  -webkit-animation: opacity 3s infinite;
          animation: opacity 3s infinite;
}

nav#mobile {
  height: 4rem;
  z-index: 999;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 100%;
  margin: 0;
  display: none;
}

nav#mobile .mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

nav#mobile .mobile-menu .mobile-menu-options ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav#mobile .mobile-menu .mobile-menu-options ul li {
  list-style-type: none;
  padding: 5px 12px;
  margin: 5px;
  background-color: rgba(247, 247, 247, 0.3);
  border-radius: 45px;
}

nav#mobile .mobile-menu .mobile-menu-options ul li i.fa-align-left {
  -webkit-transform: rotate(180deg) scaleX(-1);
          transform: rotate(180deg) scaleX(-1);
}

nav#mobile div.hiding-menu {
  width: 75%;
  height: 100vh;
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

div.hiding-menu ul.hiding-menu-options {
  width: 90%;
  margin: auto;
  margin-top: 30%;
}

div.hiding-menu ul.hiding-menu-options li {
  list-style: none;
  padding: 8px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.18);
}

div.hiding-menu ul.hiding-menu-options li div.dropdown-indicator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 3px 0 0;
}

div.hiding-menu ul.hiding-menu-options li div.dropdown-menu ul#cover {
  margin-left: 10%;
}

div.hiding-menu ul.hiding-menu-options li div.dropdown-menu ul#cover li.no-underline span {
  font-size: 14.5px;
}

div.hiding-menu ul.hiding-menu-options li div.dropdown-menu ul#cover li.no-underline div.divider {
  height: 1px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

div.hiding-menu ul.hiding-menu-options li div.dropdown-menu ul#cover li.no-underline ul li {
  margin-left: 10%;
  border-bottom: none;
  font-size: 13px;
}

div.hiding-menu div.languages {
  margin-top: 10%;
}

div.hiding-menu div.languages ul {
  width: 90%;
  margin: auto;
}

div.hiding-menu div.languages ul li {
  font-size: 13px;
  margin: 7px 0;
  list-style: none;
}

div.hiding-menu div.languages ul li.sublinhado {
  text-decoration: underline;
}

.hide {
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
}

.not-show {
  display: none;
}

.backdrop {
  -webkit-backdrop-filter: blur(20px) saturate(120%) contrast(200%);
          backdrop-filter: blur(20px) saturate(120%) contrast(200%);
  overflow: hidden;
}

.closeBurger {
  border: none;
  padding: 10px;
  background-color: transparent;
  position: absolute;
  right: 20px;
  top: 20px;
}

.closeBurger i {
  font-size: 19px;
}

@-webkit-keyframes opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 20%;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 20%;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 1200px) {
  .site-width {
    width: 945px;
  }
}

@media only screen and (max-width: 991px) {
  html {
    overflow-x: hidden;
  }
  nav#nav {
    display: none;
  }
  .site-width {
    width: 705px;
  }
  div.banner {
    -webkit-transform: translateY(-4rem);
            transform: translateY(-4rem);
  }
  nav#mobile {
    display: block;
  }
}

@media only screen and (max-width: 745px) {
  .site-width {
    width: 500px;
  }
  div.banner div.search-wrapper div.procurar-casa {
    margin: auto;
    position: relative;
    top: 3.5rem;
  }
  div.banner div.search-wrapper div.procurar-casa div.caixa-procura div.sup {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-color: white;
    width: 100%;
  }
  div.banner div.search-wrapper div.procurar-casa div.caixa-procura div.sup div.localidade, div.banner div.search-wrapper div.procurar-casa div.caixa-procura div.sup div.tipo-alojamento {
    width: 100%;
    height: 3rem;
    padding: 10px 0;
  }
  div.banner div.search-wrapper div.procurar-casa div.caixa-procura div.sup button {
    width: 95%;
    height: 3rem;
    border-radius: 5px;
    margin: 5px auto;
  }
}

@media only screen and (max-width: 575px) {
  div.banner .mobile-banner {
    display: block;
  }
  .site-width {
    width: 90%;
  }
  div.banner .desktop-banner {
    display: none;
  }
  nav#nav {
    display: none;
  }
}
/*# sourceMappingURL=estilos.css.map */