@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

/* 

    CRIAÇÃO DE MIXIN PARA TORNAR O CÓDIGO MAIS LIMPO

    FLEX: flex-(justify-content)-(align-items)

*/

@mixin flex-center-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-between-center{
    display: flex;
    justify-content: space-between;
    align-items:center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    color: black;
    font-family: 'Poppins', sans-serif;
}



.strong{
    font-weight: bold;
}

nav#nav{
    height: 6rem;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    transition: all 0.5s ease;
    width: 100%;
    margin: 0;

    div#container{
        @include flex-between-center;
        margin: auto;
    }

    div.logo{
        img{
            margin: auto;
            transform: translateY(5px);
        }
        margin-right: 20px;
    }


    div.rightSide{
        display: flex;
        ul{
            display: flex;
            font-size: 12.5px;

            li{
                list-style: none;
                margin: 5px;
                padding: 7px 8px 7px 8px;
                border-bottom: 1px solid transparent; //solução para navabr não ir ligeiramente para cima
                                                     //quando se passa o rato por cima
                &:hover{
                    cursor: pointer;
                    border-bottom: 1px solid black;
                }

                a{
                    color: black;
                    text-decoration: none;
                }
            }
        }

        ul.menu-especial{
            margin-left: 15px;
            li{
                padding: 7px 5px;
            }
        }

        
    }
}

li.dropdown{
    position: relative;
    div.dropdown-menu{
        padding: 35px 30px;
        display: none;
        position: absolute;
        top: 20px;
        right: -35px;
        cursor:default;

        ul#cover{
            background: white;
            padding: 5px;
            border-radius: 5px;
            display: flex;
            box-shadow: 0 8px 12px 0 rgba(0,0,0,0.1);
            li.no-underline{
                list-style-type: none;
                width: 276px;
                &:hover{
                    border-bottom: none;
                }
                ul{
                    display: block;
                    li{
                        list-style: none;
                        cursor: pointer;
                        font-size: 13px;
                        width: fit-content;
                        &:hover{
                            border-bottom: none;
                            text-decoration: underline;
                        }
                    }
                }
                span{
                    font-weight: 600;
                }

                div.divider{
                    height: 1px;
                    width:100%;
                    background-color: black;
                }
            }

        }
    }

    // div.right{
        
    //     position: absolute;
    //     top: 15px;
    //     right: 200px;
    //     cursor:default;
    //     width: 300px;
    // }

    &:hover{

        div.dropdown-menu{
            display: block;
        }

        i{
            transform: rotateX(180deg);
        }
    }
}

div.banner{
    background-image: url("./img/banner.png");
    background-position: top center;
    background-size: contain;
    height: 80vh;
    width: 100%;
    transform: translateY(-6rem);
    z-index: 1;
    position: relative;
    background-repeat: no-repeat;
    width: 100%;
    div.search-wrapper{
        width: 100%;
        background-color: rgba(136, 136, 136, 0.432);
        position: relative;
        top: 31.5vw;
        height: 100px;
        @include flex-center-center();
        div.caixa-procura{
            height: 60px;
            margin:auto;
            display: flex;

            div.opcoes, div.pesquisa{
                height: 100%;
                border-radius: 3px;
            }

            div.opcoes{
                flex: 1;
            }

            div.pesquisa{
                flex: 5;
                display: flex;
                margin-right:10px;
                font-family: 'Poppins';
                > :first-child{
                    border-top-left-radius: 3px;
                    border-bottom-left-radius: 3px;
                }

                div.quartos, div.tipo-compra{
                    width: 16%;
                }

                div.tipo-propriedade{
                    width: 20%;
                }

                div[class^="tipo-"], div.quartos{
                    position: relative;
                    height: 100%;
                    border-right: 1px solid rgb(114, 113, 113);
                    background-color: white;
                    padding: 20px;
                    display: flex;
                    font-size: 13.5px;
                    cursor: pointer;
                    
                    > div.options{
                        display: none;
                        background-color: white;
                        width: 100%;
                        position: absolute;
                        left: 0;
                        top: 101%;
                        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                        ul{

                            li{
                                list-style: none;
                                padding: 7px 10px;
                                font-weight: bold;
                                text-transform: uppercase;

                                &:hover{
                                    color:#c8102e;
                                    background-color: rgb(236, 236, 236);
                                }
                            }
                        }
                    }
                    div.title{
                        width: 100%;
                        @include flex-between-center();
                        font-weight: bold;
                        text-transform: uppercase;
                       
                        &:hover + div.options{
                            display: block;
                        }
                    }

                    &:hover{

                        > div > span{
                            color: #c8102e;
                        }

                        >div > i {
                            transform: rotateX(180deg);
                        }

                        div.options{
                            display: block;
                        }
                    }
                }
                div.localidade{
                    height: 100%;
                    width: 32%;
                    background-color: white;
                    padding: 10px 20px;

                    >input{
                        margin: auto;
                        width: 100%;
                        height: 100%;
                        background-color: transparent;
                        border:none;
                        outline:none;
                        font-weight: bold;
                        font-family: 'Poppins';

                        &::placeholder{
                            text-transform: uppercase;
                            font-weight: bold;
                            font-family: 'Poppins';
                        }
                    }
                }

                > button.procurar-btn{
                    width: 16%;
                    border: none;
                    border-top-right-radius: 3px;
                    border-bottom-right-radius: 3px;
                    text-transform: uppercase;
                    font-weight: bold;
                    background-color: #c8102e;
                    color: white;
                    font-family: 'Poppins', sans-serif;
                    cursor: pointer;

                    &:hover{
                        background-color: #b4142e;
                    }
                }
            }

            div.opcoes{
                > button {
                    width: 100%;
                    height: 100%;
                    font-family: 'Poppins', sans-serif;
                    border: none;
                    background-color: gray;
                    color: white;
                    border-radius: 3px;
                    cursor: pointer;
                    >i{
                        font-size: 17px;
                    }

                    &:hover{
                        background-color: rgb(105, 105, 105);
                    }
                }
            }
        }
    }
}

div.banner img{
    width: 100%;
    z-index: 0;
}

div.banner .mobile-banner{
    display: none;
}

.background-white{
    background: white;
}

.background-transparente{
    background: transparent;

}

.hide-nav{
    visibility: hidden;
}

.site-width{ //O que vai definir os limites do site todo
    width: 1124px;
}

nav#mobile{
    height: 4rem;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    transition: all 0.5s ease;
    width: 100%;
    margin: 0;
    display: none;

    .mobile-menu{
        @include flex-between-center();
        margin:auto;

        .mobile-menu-options{
            ul{
                @include flex-center-center;
                li{
                    list-style-type: none;
                    padding: 5px 12px;
                    margin: 5px;
                    background-color: rgba(247,247,247,0.3);
                    border-radius: 45px;
                    i.fa-align-left{
                        transform: rotate(180deg) scaleX(-1);
                    }
                }
            }
        }
    }

    div.hiding-menu{
        width: 75%;
        height: 100vh;
        background-color: white;
        position: absolute;
        top:0;
        right: 0;
        transition: all 0.4s ease;
    }
}

div.hiding-menu{
    ul.hiding-menu-options{
        width: 90%;
        margin: auto;
        margin-top: 30%;
        li{
            list-style: none;
            padding: 8px 0;
            border-bottom: 1px solid rgba(0, 0, 0, 0.18);

            div.dropdown-indicator{
                display: flex;
                justify-content: space-between;
                height: 100%;
                align-items: center;
                padding: 0 3px 0 0;
            }

            div.dropdown-menu{
                ul#cover{
                    margin-left: 10%;
                    li.no-underline{
                        span{
                            font-size: 14.5px;
                        }
                        div.divider{
                            height: 1px;
                            width: 100%;
                            border-bottom: 1px solid rgba(0, 0, 0, 0.15);
                        }
                        ul li{
                            margin-left: 10%;
                            border-bottom: none;
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }

    div.languages{
        margin-top: 10%;
        ul{
            width: 90%;
            margin: auto;
            li{
                font-size: 13px;
                margin: 7px 0;
                list-style: none;
            }

            li.sublinhado{
                text-decoration: underline;
            }
        }
    }
}

.hide{
    transform: translateX(200%);
}

.not-show{
    display:none;
}

.backdrop{
    backdrop-filter: blur(20px) saturate(120%) contrast(200%);
    overflow: hidden;
}

.closeBurger{
    border: none;
    padding: 10px;
    background-color: transparent;
    position: absolute;
    right: 20px;
    top: 20px;
    i{
        font-size: 19px;
    }
}

@media only screen and (max-width: 1200px){
    .site-width{
        width: 945px;
    }
}
@media only screen and (max-width: 991px){
    html{
        overflow-x: hidden;
    }

    nav#nav{
        display:none;
    }

    .site-width{
        width: 705px;
    }

    div.banner{
        transform: translateY(-4rem);
    }

    nav#mobile{
        display: block;
    }

    div.banner{
        div.search-wrapper{
            div.caixa-procura{
                div.pesquisa{
                    div[class^="tipo-"], div.quartos{
                        padding: 10px;
                    }
    
                }
            }
            div.opcoes{
                display: none;
            }
        }
    }
}


@media only screen and (max-width: 745px){
    .site-width{
        width: 550px;
    }
    div.banner{
        div.search-wrapper{
            div.caixa-procura{
                div.pesquisa{
                    div[class^="tipo-"], div.quartos{
                        padding: 5px;
                        font-size: 12px;
                    }
    
                }
            }
        }
    }
}


@media only screen and (max-width: 575px){
    div.banner{
       background-image: url("./img/bannerMobile2.png");
       background-size: 100% ;
       background-position: center;
       height: 80vh;
       width: 100%;

       div.search-wrapper{
           position: absolute;
           top: 53vh;
           height: 27vh;
           div.caixa-procura{
               flex-wrap: wrap;
               margin-top: 1.5vh;
               div.pesquisa{
                   flex-wrap: wrap;
                   justify-content: center;
                   div.quartos, div.tipo-compra{
                       width: calc(100vw*0.275);
                       border: none;
                   }
   
                   div.tipo-propriedade{
                       width: calc(100vw*0.35);
                       border-left: 1px solid gray;
                   }
                   div.localidade, button.procurar-btn{
                       width: calc(100vw*0.9);
                   }

                   button.procurar-btn{
                       padding: 10px 0;
                   }

                   div[class^="tipo-"], div.quartos{
                       padding: 10px;
                       font-size: 13px;
                   }

               }
           }
       }
    }

    .site-width{
        width: 90%;
    }
    
    div.banner .desktop-banner{
        display: none;
    }nav#nav{
        display:none;
    }
}
